@keyframes rotate-slow {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .circle-rotate {
    animation: rotate-slow 20s linear infinite;
  }
  
  .circle-rotate:hover {
    animation-play-state: paused;
  }

  /* // testimonals css // */

  .slick-dots li.slick-active div {
    background-color: rgba(34, 34, 34, 0.8) !important; /* Dark grey for active dot */
  }

  /* // navbar // */

  @keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(-20%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .mobile-menu-enter {
    animation: slideDown 0.3s ease-out forwards;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    max-height: 1000px; /* Adjust based on the content's max height */
    opacity: 1;
  }
  
  .mobile-menu-exit {
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
  }
  

 

 